<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DataBase.DatabaseFactorySection, DataBase" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="MyConnection1" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase.mdf;Integrated Security=True" />
  </connectionStrings>
  <DatabaseFactoryConfiguration
    Name="DataBase.LocalDb, DataBase, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
    ConnectionStringName="MyConnection1" />

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DbQuery.log" />
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>