<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggerSetting" type="Infrastructure.LoggingConfigSection, Infrastructure" />
    <section name="serverSetting" type="Infrastructure.ServerConfigSection, Infrastructure" />
  </configSections>
  
  <loggerSetting messageBufferSize="1" tableName="Logging">
    <connectionStrings>
      <add name="LoggingDB"
                 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LoggingDB.mdf"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
  </loggerSetting>
  
  <serverSetting ip="127.0.0.1" port="13000"/>

  <system.diagnostics>
    <trace>
      <listeners>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="myListener" type="Infrastructure.DbTraceListener, Infrastructure" initializeData="loggerSetting" >
          <filter type="System.Diagnostics.EventTypeFilter"
            initializeData="Information" />
        </add>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>