<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConnectData" type="Client.ConnectConfigSection, Client" />
  </configSections>
  <ConnectData port="13000" serverAdress="127.0.0.1"/> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>